---
import ExperienceCard from "@/components/ExperienceCard.astro";
import ProjectTeaser from "@/components/ProjectTeaser.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { getCollection } from "astro:content";
import { SKILLS } from "@/data/skills";

const [companies, projects] = await Promise.all([
  getCollection("companies"),
  getCollection("projects"),
]);
---

<RootLayout>
  {companies.map((company) => <ExperienceCard {...company.data} />)}
  <div class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {projects.map((project) => <ProjectTeaser {...project.data} />)}
  </div>
  <div class="mt-8">
    <h2 class="text-lg font-bold">Skills</h2>
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4">
      {
        Object.entries(SKILLS).map(([category, skills]) => (
          <div>
            <h3 class="font-semibold">{category}</h3>
            <ul class="mt-2">
              {skills.map((skill) => (
                <li class="flex items-center gap-2">
                  <skill.logo class="h-5 w-5" aria-hidden="true" />
                  <a
                    href={skill.url}
                    class="text-sm text-sky-400 hover:underline"
                  >
                    {skill.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</RootLayout>
